<nav class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">Cryptostore</a>

    <ul *ngIf="loggedIn()" class="nav navbar-nav">
      <li><a href="contents">Conteúdos</a></li>
    </ul>

    <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
      <li><a href="#" (click)="logout()">Logout</a></li>
    </ul>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Usuário" required
        [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Senha" required
        [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

  </div>

</nav>